body{
    padding: 150px 100px;
}
section{
    display: flex;
    position: static;
}

.container-textos{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 50px 100px 50px 50px;
}

.container-imagem img{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.alinhando-ul li{
    display: inline-block;
}
.container-textos h1{
    margin-bottom: 30px;
}
.container-textos p{
    margin-bottom: 50px;
}
.alinhando-ul ul{
    padding: 0;
}
.alinhando-ul li{
    margin-right: 50px;
}