@media (max-width: 800px) {
    .container {
        text-align: center;
        flex-direction: column-reverse;
    }
    .container-imagem{
        width: 80vw;
        height: 40vh;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0px;
    }
    .container-imagem picture img {
        width: 80vw;
        height: 40vh;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0px;
    }
    .container-textos{
        border-top-left-radius: 0px;
        border-bottom-right-radius: 15px;
    }
    .container-textos h1{
        font-size:1.5rem;
    }
    .container-textos p{
        font-size: 1rem;
    }
    .alinhando-ul ul{
        text-align: center;
    }
    .alinhando-ul li{
        display: block;
        margin-top: 10%;
    }
}